[Unit]
Description=Aneris streaming service

[Service]
User=root
WorkingDirectory=/etc/aneris
ExecStart=/etc/aneris/aneris
Restart=always

[Install]
WantedBy=multi-user.target
